html {
  font: normal 18px/1.6 "Roboto", sans-serif;
}

html,
body,
#root,
#app {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
}

#palette-control-bar {
  display: flex;
  padding: 10px 60px;
  align-items: center;
}

#main-palette-display-wrapper {
  flex-grow: 1;
  background: #fc3;
}

.palette-display {
  height: 100%;
  background: pink;
  display: flex;
}

.palette-single-color {
  flex-basis: 0;
  flex-grow: 1;
}
