@import url('https://rsms.me/inter/inter.css');

html {
  font-size: 18px;
  line-height: 1.6;
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

html,
body,
#root,
#app {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
}

#palette-control-bar {
  color: #d9d9d9;
  display: flex;
  padding: 24px 80px;
  align-items: center;
}

#palette-color-inputs {
  display: flex;
  align-items: center;
}

.color-circle {
  display: inline-block;
  width: 11px;
  height: 11px;
  border-radius: 20px;
  margin-right: 12px;
}

.color-display-wrapper {
  position: relative;
  margin-right: 40px;

  .color-display {
    display: flex;
    align-items: center;
    cursor: pointer;

    .hex-text {
      font-size: 30px;
      font-weight: 300;
    }

    &:hover {
      .hex-text {
        color: #777;
      }
    }
  }

  .color-picker-wrapper {
    position: absolute;
    z-index: 2;
    margin-top: 4px;
  }

  .close-cover {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

#palette-buttons-wrapper {
  display: flex;

  button {
    cursor: pointer;
    border: none;
    font-size: 18px;
    color: #ccc;
    display: inline-block;
    background: transparent;
    padding: 14px 20px;
    margin-right: 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;

    i.icon {
      font-size: 24px;
      display: inline-block;
      margin-right: 15px;

      &.ion-ios-link {
        font-size: 22px;
      }
    }

    &:hover {
      color: #777;
    }
  }
}

#main-palette-display-wrapper {
  flex-grow: 1;
  background: #fc3;
}

.palette-display {
  height: 100%;
  background: pink;
  display: flex;
}

.palette-single-color {
  flex-basis: 0;
  flex-grow: 1;
}