html {
  font: normal 18px/1.6 "Roboto", sans-serif;
}

html,
body,
#root,
#app {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
}

#palette-control-bar {
  color: #ccc;
  display: flex;
  padding: 40px 60px;
  align-items: center;
}

#palette-color-inputs {
  display: flex;
  align-items: center;
}

.color-circle {
  display: inline-block;
  width: 11px;
  height: 11px;
  border-radius: 20px;
  margin-right: 12px;
}

.color-display-wrapper {
  position: relative;
  margin-right: 40px;

  .color-display {
    display: flex;
    align-items: center;
    cursor: pointer;

    .hex-text {
      font-size: 36px;
      font-weight: 300;
      letter-spacing: 1px;
    }

    &:hover {
      .hex-text {
        color: #aaa;
      }
    }
  }

  .color-picker-wrapper {
    position: absolute;
    z-index: 2;
    margin-top: 4px;
  }

  .close-cover {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

#main-palette-display-wrapper {
  flex-grow: 1;
  background: #fc3;
}

.palette-display {
  height: 100%;
  background: pink;
  display: flex;
}

.palette-single-color {
  flex-basis: 0;
  flex-grow: 1;
}